:root {
	--bg-navbar: #494949;
	--active-navbar-link: #5f9909;
}

/* login */
#admin-login, #admin-login input  {
	font-size: 1.6rem;
}

/* content */
.vertical-center {
	vertical-align: middle;
}

.table-product tbody td, .table-invoice tbody td {
	height: 60px;
}

.table-product a, .table-invoice a {
	color: var(--white-text);
	font-size: 1.4rem;
}

/* additional form */
.additional-form form {
	width: 50%;
	font-size: 1.6rem;
}

.additional-form input {
	height: 100%;
}

.additional-form input[type="file"] {
	height: 40px;
}

.edit-btn {
	font-size: 1.6rem;
}

/* filter products form */
#filter-products-form label, 
#filter-products-form select, #filter-products-form option, #filter-invoices-form label, 
#filter-invoices-form select, #filter-invoices-form option {
	font-size: 1.6rem;
}

/* navbar */
.navbar {
	background-color: var(--primary-bg-color);

}
.navbar a {
	font-size: 2.0rem;
	color: var(--white-text);
}

.navbar a:hover {
	color: var(--white-text);
	filter: brightness(90%);
}

.navbar .title {
	color: var(--white-text);
	font-size: 2.4rem;
	font-weight: 500;
	text-transform: uppercase;
}

/* modal alert order */
#alert-order .modal-body {
	font-size: 1.6rem;
}

/* admin account */
.admin-account i {
	font-size: 1.6rem;
}

.admin-account h4 {
	font-size: 1.8rem;
}

.admin-logout span {
	font-size: 1.6rem;
}

.admin-account .admin-logout {
	z-index: 10;
	display: none;
}

.admin-account:hover .admin-logout {
	display: block;
}

/* logged account */
.admin-account .logout-account-section {
	color: var(--white-text);
}

/* search bar */
#admin-search-form {
	border: 2px solid var(--primary-bg-color);
}

#admin-search-form i {
	font-size: 2.0rem;
	color: var(--primary-bg-color);
}