:root {
	--hight-header: 60px;
/*	color */
	--primary-bg-color: #007272;
	--secondary-bg-color: #f3f5fe;
	--white-text: #fff;
	--primary-text-color: #3d3d3d;
	--hover-bg-color: #d8d8d8;
/*	font */
	--font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/*fonts*/
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

/* intial body */
body {
	font-family: var(--font-family);
	font-size: 1.6rem;
	color: var(--primary-text-color);
	background-color: var(--secondary-bg-color);
}

a[href] {
	color: var(--primary-text-color);
	text-decoration: none;
}

input[type] {
	outline: none;
}

button[type] {
	font-size: 1.6rem;
}

.bg-color-primary {
	background-color: var(--primary-bg-color);
}

/*Buttons*/
.btn-outline-primary, .btn-fill-primary {
	min-width: 50px;
	font-size: 1.6rem;
	border: 1px solid var(--primary-bg-color);
	color: var(--primary-bg-color);
	padding: 4px 48px;
}

.btn.btn-outline-primary{
	color: var(--primary-bg-color);
}

.btn-outline-primary:hover {
	border-color: var(--primary-bg-color);
	background-color: var(--primary-bg-color);
	color: var(--white-text);
}

.btn.btn-outline-primary:active {
	border-color: var(--primary-bg-color);
	background-color: var(--primary-bg-color);
	color: var(--white-text);
	filter: brightness(90%);
}

.btn.btn-fill-primary {
	color: var(--white-text);
	background-color: var(--primary-bg-color);
}

.btn-fill-primary:hover {
	border-color: var(--primary-bg-color);
	background-color: var(--white-text);
	color: var(--primary-bg-color);
}

.btn.btn-fill-primary:active {
	border-color: var(--primary-bg-color);
	color: var(--primary-bg-color);
	filter: brightness(90%);
}
