/* header*/
.header {
	height: var(--hight-header);
	background-color: var(--primary-bg-color);
}

/* logo shop */
.logo-shop-icon {
	font-size: 3.6rem;
}

.logo-shop-name {
	font-size: 2.4rem;
}

/* cart in header */
#cart {
	font-size: 2.6rem;
}

#cart:hover {
	cursor: pointer;
	filter: brightness(90%);
}

#cart .cart-count {
	top: 0;
	left: 62%;
	background-color: red;
	padding: 0.5px 4px;
	font-size: 1.2rem;
}

/* optional account*/
.optional-account {
	top: 28px;
	min-width: 154px;
	display: none;
}

.optional-account a:hover {
	background-color: var(--hover-bg-color);
}

.logined-account {
	cursor: pointer;
}

.logined-account:hover .optional-account {
	display: block;
}

.account, #cart a {
	color: var(--white-text);
}

/* search bar */
.search-btn:hover {
	background-color: var(--hover-bg-color);
}

/* account section */
#sign-up::before {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 14px;
	background-color: #c15e07;
    margin-top: 4px;
}

#sign-in, #sign-up {
	cursor: pointer;
}

#sign-in:hover, #sign-up:hover {
	filter: brightness(80%);
}

/*error while sign in*/
.error-signin {
	font-size: 1.5rem;
	color: red;
}

/* content */
.content {
	margin-top: calc(var(--hight-header) + 10px);
}

.type-product {
	color: var(--primary-text-color);
}
.type-product:hover {
	background-color: var(--hover-bg-color);
}

.highlight-option {
	background-color: var(--hover-bg-color);
}

.products img {
	height: 230px;
}

div[id^="product_"]:hover {
	filter: brightness(106%);
}

/* item*/
.item-title {
	font-size: 1.6rem;
	font-weight: 450;
	line-height: 1.8rem;
	height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item-text {
	line-height: 2.8rem;
}

.item-text strong {
	font-size: 1.8rem;
	font-weight: 500;
}

.item-text span {
	font-size: 1.4rem;
	font-weight: 500;
}

.item-text p {
	font-size: 1.2rem;
	line-height: 2.8rem;
}

/*footer*/
#footer i {
	font-size: 2.4rem;
}

#footer i {
	color: var(--primary-bg-color);
}

#footer a:hover {
	color: var(--primary-bg-color);
}

/* copyright */
.copyright a {
	color: var(--primary-bg-color);
}

.copyright a:hover {
	filter: brightness(80%);
}

/*Sort bar*/
.sort-bar .select-sort {
	background-color: var(--secondary-bg-color);
	min-width: 200px;
}

.select-sort .select-list {
    background-color: var(--secondary-bg-color);
    z-index: 1;
    display: none;
}

.select-sort .select-list a:hover {
	background-color: var(--hover-bg-color);
}

.select-sort:hover .select-list {
	display: block;
}

/* signup form */
#form-signup a {
	color: var(--primary-bg-color);
}

#form-signup a:hover {
	filter: brightness(90%);
}

/* signin form */
#form-signin a {
	color: var(--primary-bg-color);
}

#form-signin a:hover {
	filter: brightness(90%);
}

/* detail item*/
.detail-item .quantity-item div {
	width: 64px;
}

.detail-item .quantity-item input {
	width: 100%;
}

.describe h3, .comment-container h3 {
	font-size: 2.0rem;
}

.detail-item-name {
	font-weight: 450;
	font-size: 2.0rem;
}

.detail-item-price {
	font-weight: 700;
	font-size: 2.2rem;
}

.detail-item-price strong, .detail-item-price span {
	font-weight: 500;
}

.detail-item .tmp-price-item {
	font-size: 2.2rem;
}

/* cart */
.cart-heading {
	font-size: 2.6rem;
}

.cart-item button {
	font-size: 1.6rem;
}

.trash-can-btn {
	font-size: 1.8rem;
	color: var(--primary-bg-color);
}

.trash-can-btn:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.cart-empty i {
	font-size: 6.0rem;
	color: var(--primary-bg-color);
}

.cart-empty h3 {
	font-size: 2.4rem;
}

.quantity-btns .current-quantity {
	width: 36px;
}

/* about*/
#about h2 {
	font-size: 2.8rem;
}

#about .aim h3 {
	font-size: 2.2rem;
	color: var(--primary-bg-color);
}

#about .aim p {
	font-size: 1.6rem;
}

#about .aim p:nth-child(1) {
	border-right: 2px solid var(--primary-bg-color);
}

#about .aim p:nth-child(2) {
	border-left: 2px solid var(--primary-bg-color);
	border-right: 2px solid var(--primary-bg-color);
}

#about .aim p:nth-child(3) {
	border-left: 2px solid var(--primary-bg-color);
}

/*profile user*/
#profile-user h3, #history-purchase h3 {
	font-size: 2.4rem;
}

#profile-user li a:hover, #history-purchase  li a:hover {
	background-color: var(--hover-bg-color);
}

#profile-user .personal-sector, #profile-user .password-sector, #profile-user .address-sector {
	background-color: var(--secondary-bg-color);
}

#profile-user h4 {
	font-size: 2.2rem;
}

#profile-user button {
	color: var(--primary-bg-color);
	background-color: transparent;
}

/* hint search */
.search-hint {
	z-index: 1;
	top: 104%;
}

.search-hint .title, .search-hint .price {
	font-size: 1.4rem;
}

/* invoices */
.invoice .sumary {
	--max-lines: 2;
	display: -webkit-box;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* checkout */
.preorder-body .preorder-items {
	background-color: var(--secondary-bg-color);
}

/* detail invoice */
.detail-invoice h4 {
	font-size: 2.0rem;
}

.detail-invoice .section {
	background-color: var(--secondary-bg-color);
}

/* 404 not found */
.not-found-404 {
	font-size: 2.8rem;
}

/*comment*/
.comment-container i {
	font-size: 2.8rem;
	color: var(--primary-text-color);
}

.comment-container h4 {
	color: var(--primary-text-color);
}

.comment-container h4+p {
	font-size: 1.2rem;
	color: #626366;
}

.comment-container p {
	font-size: 1.5rem;
}

.comment-container .more-comments, .comment-container .less-comments {
	font-size: 1.5rem;
	color: blue;
}

.comment-container .more-comments:hover, .comment-container .less-comments:hover {
	color: #4405aa;
	cursor: pointer;
}

.comment .like-comment-btn i {
	font-size: 1.4rem;
}

.comment .like-comment-btn:hover {
	cursor: pointer;
}

.comment .like-comment-btn i, .comment .like-comment-btn {
	color: var(--primary-bg-color);
}

/* image item */
.active-image-item {
	border: 1px solid var(--primary-bg-color);
}

/* list images item */
.list-images-item i {
	font-size: 1.6rem;
}

/* destroy order */
.section .destroy-order {
	color: red;
}

.section .destroy-order:hover {
	cursor: pointer;
	filter: brightness(80%);
}

/* control-images-btns */
.control-images-btns {
	background-color: rgb(57, 116, 114, 0.8);
	color: var(--white-text);
}

.control-images-btns:hover {
	cursor: pointer;
}