/*Header*/
.header {
	height: var(--hight-header);
	font-size: 1.6rem;
	background-color: var(--primary-bg-color);
}

.logo {
	height: var(--hight-header);
}

#cart {
	font-size: 2.6rem;
}

#cart span {
	font-size: 1.0rem;
}

#cart:hover {
	cursor: pointer;
	filter: brightness(90%);
}

#cart .cart-count {
	top: 0;
	left: 62%;
	background-color: red;
	padding: 0.5px 4px;
	font-size: 1.2rem;
}

.account, #cart a {
	color: var(--white-text);
}

.search-btn:hover {
	background-color: #90e8f9;
}

#sign-up::before {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 14px;
	background-color: #c15e07;
    margin-top: 4px;
}

#sign-in, #sign-up {
	cursor: pointer;
}

#sign-in:hover, #sign-up:hover {
	filter: brightness(8 0%);
}

/*Error when sign in*/
.error-signin {
	font-size: 1.5rem;
	color: red;
}
/* Content */
.content {
	margin-top: calc(var(--hight-header) + 10px);
}

/*Sidebar*/

.sidebar {
	font-size: 1.6rem;
}

.type-product {
	color: var(--primary-text-color);
}
.type-product:hover {
	background-color: var(--hover-bg-color);
}

.highlight-option {
	background-color: var(--hover-bg-color);
}

/* Product */
.banner {
	height: 260px;
}

.banner img {
	height: 260px;
}

.products {
	font-size: 1.6rem;
}

.products img {
	height: 230px;
}

div[id^="product_"]:hover {
	filter: brightness(106%);
}

/*Item*/
.item-title {
	height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item-text {
	line-height: 2.8rem;
}

.item-text strong {
	font-size: 1.8rem;
}

.item-text span {
	font-size: 1.4rem;
	font-weight: 600;
}

.item-text p {
	font-size: 1.2rem;
	line-height: 2.8rem;
}

/*footer*/
#footer li {
	font-size: 1.5rem;
}

#footer a {
	text-decoration: none;
}

#footer i {
	font-size: 2.4rem;
}

.slogan p, .copyright {
	font-size: 1.6rem;
}

.copyright a {
	color: var(--primary-bg-color);
}

.copyright a:hover {
	filter: brightness(80%);
}

.slogan i {
	color: var(--primary-bg-color);
}

.about a:hover {
	color: var(--primary-bg-color);
}

/*Sort bar*/
.sort-bar div {
	background-color: var(--secondary-bg-color);
	font-size: 1.6rem;
	text-align: center;
}

.sort-bar button {
	font-size: 1.6rem;
	color: var(--white-text);
	background-color: var(--primary-bg-color);
}

.sort-bar button:active {
	opacity: 0.8;
}

.sort-bar .select-sort {
	min-width: 200px;
}

.select-list {
    background-color: var(--secondary-bg-color);
    z-index: 1;
    display: none;
}

.select-list a:hover {
	background-color: var(--hover-bg-color);
}

.select-sort:hover .select-list {
	display: block;
}

/*Notify Search*/
#notify-search {
	font-size: 1.6rem;
}

/*Form signup*/
#form-signup a {
	color: var(--primary-bg-color);
}

#form-signup a:hover {
	filter: brightness(90%);
}

#form-signup, #form-signup input {
	font-size: 1.6rem;
}

#form-signin a {
	color: var(--primary-bg-color);
}

#form-signin a:hover {
	filter: brightness(90%);
}

#form-signin, #form-signin input {
	font-size: 1.6rem;
}

.error {
	font-style: italic;
	font-size: 1.4rem;
	color: red;
	text-align: center;
}

/*Optional account*/
.optional-account {
	top: 28px;
	min-width: 154px;
	display: none;
}

.optional-account a:hover {
	background-color: var(--hover-bg-color);
}

.account-logined {
	cursor: pointer;
}

.account-logined:hover .optional-account {
	display: block;
}

/*Show detail item*/
.detail-item, .detail-item button {
	font-size: 1.6rem;
}

.quantity-btns input {
	width: 3.2rem;
	height: 2.4rem;
}

.detail-item h3, .detail-item strong {
	font-size: 2.6rem;
}

.detail-item span {
	font-size: 1.8rem;
}

.describe h3 {
	font-size: 2.0rem;
}

.describe p {
	font-size: 1.6rem;
}

/*Cart*/
.cart-heading {
	font-size: 2.6rem;
}

.cart-item {
	font-size: 1.6rem;
}

.cart-item button {
	font-size: 1.6rem;
}

.cart-item-title {
	font-size: 1.8rem;
}

.trash-can-btn {
	font-size: 1.8rem;
	color: var(--primary-bg-color);
}

.trash-can-btn:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.cart-empty i {
	font-size: 6.0rem;
	color: var(--primary-bg-color);
}

.cart-empty h3 {
	font-size: 2.4rem;
}

/* Cart info user  */
.cart-info-user div {
	font-size: 1.6rem;
}

/* preorder */
.preorder-body {
	font-size: 1.6rem;
}

/*About*/
#about h2 {
	font-size: 2.8rem;
}

#about .text {
	font-size: 1.6rem;
}

#about .aim h3 {
	font-size: 2.2rem;
	color: var(--primary-bg-color);
}

#about .aim p {
	font-size: 1.6rem;
}

#about .aim p:nth-child(1) {
	border-right: 2px solid var(--primary-bg-color);
}

#about .aim p:nth-child(2) {
	border-left: 2px solid var(--primary-bg-color);
	border-right: 2px solid var(--primary-bg-color);
}

#about .aim p:nth-child(3) {
	border-left: 2px solid var(--primary-bg-color);
}

/*Contact*/
#contact h4 {
	font-size: 1.8rem;
}

#contact input, #contact textarea {
	font-size: 1.6rem;
}

#contact li {
	font-size: 1.6rem;
}

#contact .map a {
	font-size: 1.4rem;
}

/*Modal submit contact*/

#submittedContact div {
	font-size: 1.6rem;
}

#submittedContact .btn {
	padding-left: 16px;
	padding-right: 16px;
}

/* Payment */

.cart .payment {
	font-size: 1.6rem;
}

/*profile user*/

#profile-user h3, #history-purchase h3 {
	font-size: 2.4rem;
}
#profile-user li,  #history-purchase li{
	font-size: 1.6rem;
}

#profile-user li a:hover, #history-purchase  li a:hover {
	background-color: var(--hover-bg-color);
}

#profile-user .personal-sector, #profile-user .password-sector, #profile-user .address-sector {
	font-size: 1.6rem;
	background-color: var(--secondary-bg-color);
}

#profile-user h4 {
	font-size: 2.2rem;
}

#profile-user input {
	font-size: 1.6rem;
}

#profile-user button {
	color: var(--primary-bg-color);
	background-color: transparent;
}

/*History purchase*/
#history-purchase .invoice {
	background-color: var(--secondary-bg-color);
}

.invoice div {
	font-size: 1.6rem;
}

/*Modal update info user*/
#informEditUser .modal-body {
	font-size: 1.6rem;
}

/* alert */
.alert {
	font-size: 1.6rem;
}

/* modal */
#request-login .modal-body, #delete-item .modal-body {
	font-size: 1.6rem;
}

/* sort bar */ 
.sort-bar a {
	font-size: 1.6rem;
}

/* hint search */
.search-hint {
	z-index: 1;
	top: 104%;
}

.search-hint .title, .search-hint .price {
	font-size: 1.6rem;
}

/* invoices */
.invoice .sumary {
	--max-lines: 2;
	display: -webkit-box;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* checkout */
.preorder-body .preorder-items {
	background-color: var(--secondary-bg-color);
}

/* detail invoice */
.detail-invoice h4 {
	font-size: 2.0rem;
}

.detail-invoice {
	font-size: 1.6rem;
}

.detail-invoice .section {
	background-color: var(--secondary-bg-color);
}

/* 404 not found */
.not-found-404 {
	font-size: 2.8rem;
}

/*pagination*/
nav[aria-label='Page navigation'] .pagination a {
	font-size: 1.6rem;
}